[Infernal]
Infernal = /iobio/fxq/software/infernal-1.1.3-linux-intel-gcc/binaries
cmsearch_DB = /iobio/fxq/library/database/nt.fa/nt

[RNAfold]
RNAfold_EXE = /iobio/fxq/software/ViennaRNA-2.4.17/bin/RNAfold

[LinearPartition]
LinearPartition_EXE = /iobio/fxq/software/LinearPartition-master/linearpartition
